<html>
  <title>Blogs</title>
  {% if logged_in %}
 <form method="post" action="/logout/">
  {% csrf_token %}
  <button type="submit" class="logbutton">
    Logout
  </button>
  <a href="/blog/user/{{ user.id }}/">{{ user.username }}</a>
  {% else %}
  <a href="/login" class="logbutton">Login</a>
  <a href="/blog/create_user/">Register</a>
  {% endif %}


  <h1>New blogs</h1>
  {% for blog in blogs %}
    <li>
      <a href="/blog/{{ blog.id }}/">{{ blog.title }}</a>
    </li>
  {% endfor %}
</html>